/* =========================================================================== */

/*  -- ANIMATION -- */

/* =========================================================================== */

@keyframes heartMove {/* ----------------------------------------------------- */
    0%      { transform: rotate(30deg); opacity: 0;     }
    100%    { transform: rotate(30deg); top: -50px      }

    
    15%, 45%, 75%   { transform: rotate(-20deg);            }
    30%, 60%        { transform: rotate(30deg); opacity: 1; }


    40% { margin-left: calc(var(--size-heart-margin-l) - 40px); } 
    80% { margin-left: calc(var(--size-heart-margin-l) + 20px); } 
/* --------------------------------------------------------------------------- */}

@keyframes heartMoveToLeft {/* ----------------------------------------------------- */
    0%      { transform: rotate(-30deg); opacity: 0;    }
    100%    { transform: rotate(-30deg); top: -50px     }


    15%, 45%, 75%   { transform: rotate(20deg);                 }
    30%, 60%        { transform: rotate(-30deg); opacity: 1;    }


    40% { margin-left: calc(var(--size-heart-margin-l) + 20px); } 
    80% { margin-left: calc(var(--size-heart-margin-l) - 20px); }  
/* --------------------------------------------------------------------------- */}

@keyframes appearMegumi {/* ----------------------------------------------------- */
    0%      { left: 90%;    }
    100%    { left: 0;      }
/* --------------------------------------------------------------------------- */}

@keyframes appearMeguna {/* ----------------------------------------------------- */
    0%      { right: 90%;   }
    100%    { right: 0;     }
/* --------------------------------------------------------------------------- */}

/* =========================================================================== */