/* =========================================================================== */

/*  -- THEMES --  */ 

/* =========================================================================== */

:root {/* -------------------------------------------------------------------- */

    /*  -- Colors --  */
    
    --color-white1:#d0cde0;
    --color-white2:#f2f0ff;
    --color-white3:#d5d3e6;
    
    --color-grey:#3b353f;
    
    --color-black:#19161b;
    
    --color-blue1:#3145a6;
    --color-blue2:#4062ce;
    --color-blue3:#4f61b5;
    --color-blue4:#1a1b66;
    
        --color-blue1-trans:rgba(49, 68, 166, 0.8);
        --color-blue2-trans:rgba(64, 97, 206, 0.8);
        --color-blue3-trans:rgba(79, 97, 181, 0.8);
        --color-blue4-trans:rgba(26, 27, 102, 0.8);
    
    --color-purple1:#5739b3;
    --color-purple2:#725ebd;
    --color-purple3:#221a42;
    
    --color-txt-white: #dcd9e7;
    --color-txt-black: #18181a;
    
    --color-link-plain: #dcd9e7;
    --color-link-hover: #928599;
    
    --color-box-shadow-card: #494752;
    --color-box-shadow-main: #2b272e;
    
    --color-border-test-red:   #ff0000;
    --color-border-test-green: #00ff00;
    --color-border-test-yellow:#fffb00;

        /* --------------------------------------------------------------------------- */}

/* =========================================================================== */